
/* GENERAL */

@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700;800;900&family=Rancho&display=swap');


:root {
    --blue: #0065FC;
    --lightgrey: #F2F2F2;
    --lightblue: #DEEBFF;
    --box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}


* {
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}

a {
    text-decoration: none;
    
}




/* HEADER */


header {
    display: flex;
    justify-content: flex-start;
    align-items: center;     
}

#logo {
    margin-right: auto ;
    padding-left: 60px;
}

.navbar a {
    padding: 30px;
    color: var(--blue);
}

.navbar a:hover {
    border-top: 2px solid var(--blue);
}


/*SEARCH-BAR*/


.search {
    padding: 30px;
}

.search-text {
    margin-bottom: 30px;
}

.search-bar {
    display: flex;
    align-items: center;
}

.search-bar .fa-map-marker-alt {
    padding: 20px;
    background-color: var(--lightgrey);
    border-radius: 15px 0 0 15px;   
}

.search-bar input {
    border: 1px solid var(--lightgrey);
    padding: 17.81px;
    padding-right: 70px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  

}

.search-bar ::placeholder {
    font-weight: bold;
    font-size: large;
    color: black;
    
    
}



.search-bar button {
    font-weight: bold;
    font-size: large;
    color: white;
    background-color: var(--blue);
    border-radius: 0 15px 15px 0;
    border: none;
    padding: 18px;
    
}

.search-bar button.second {
    display: none;
}
.search-bar button:hover {
    background-color: rgb(51, 75, 141);
    cursor:pointer
   
}



/*FILTER*/


.filter-icons {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    row-gap: 20px;
    column-gap: 30px;
    margin-bottom: 20px;
    padding: 30px;
    
}

.filter-icons h3::first-letter {
    text-transform: capitalize;
}

.filter-elements {
    display: flex; 
    border-radius: 50px;
    border-left: none; 
    font-size: large;
    font-weight: bold;  
    position: relative;
}

.filter-elements i.fas {
    display: flex;
    padding: 20px;
    background-color: var(--lightblue);
    border-radius: 50%;
    position: absolute;
    left: -2px;
    color: var(--blue);
   
}

.filter-elements h3 {
    flex-wrap: nowrap;
    padding: 17px 17px 17px 68px;
    border: 2px solid var(--lightgrey);
    border-left: none;
    border-radius: 30px;
    margin: 0;
    font-size: large;
    
}

.fa-child {
    justify-content: center;
    width: 60px;
}


.filter-elements:hover {
    background-color: var(--lightblue);
    cursor: pointer;
    transform: scale(1.01);
    color: var(--blue);
}


.filter-result {
    display: flex;
    align-items: center;
    padding: 0 30px;
}

.filter-result i {
    padding: 5px 10px;
    margin-right: 15px;
    background-color: white;
    border: 3px solid var(--lightgrey);
    color: var(--blue);
    border-radius: 50%;
}


/*STARS*/


.blue {
    color: var(--blue);
}

.grey {
    color: var(--lightgrey);
}

/*HEBERGEMENTS*/


#hebergements {
    display: flex;
    gap: 30px;
    padding: 30px;
}


/*MARSEILLE*/


.marseille-hotels {
    flex-basis: 66%;
    background-color: var(--lightgrey);
    border-radius: 15px;
    padding: 30px;    
}

.marseille-cards {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.marseille-cards .card {
    flex-basis: 30%;
    background-color: white;
    border-radius: 15px;
    border: 5px solid white;
    flex-grow: 1;
    box-shadow: var(--box-shadow);    
}

.marseille-cards .card:hover {
    transform: scale(1.01);
}

.marseille-cards img {
    width: 100%;
    height: 120px;
    object-fit: cover;
    border-radius: 15px 15px 0 0;
}

.card .card-details {
    padding: 10px;
}

.card-details h3 {
    margin: 0;
    color: black;
}

.card-details p {
    margin: 0 0 5px 0;
    color: black;
}


/*POPULAR*/


.popular-hotels {
    flex-basis: 33%;
    background-color: var(--lightgrey);
    border-radius: 15px;
    padding: 30px;
}

.popular-title {
    display: flex;
    align-items: center;
}

.popular-title h2 {
    margin-right: auto;
}

.popular-title i {
    font-size: x-large;
}

.popular-cards {
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 100%;
    height: 500px;
}

.popular-card {
    display: flex;
    background-color: white;
    border-radius: 15px;
    flex-direction: row;
    border: 5px solid white;
    flex-basis: 30%;
    flex: 1;
    box-shadow: var(--box-shadow); 
}

.popular-card.first {
    max-height: 30%;
}

.popular-card.second {
    max-height: 30%;
}

.popular-card.third {
    max-height: 30%;
}


.popular-card:hover {
    transform: scale(1.01);
}

.popular-card img {
    width: 40%;
    object-fit: cover;
    border-radius: 15px 0 0 15px;
    
}

.popular-card-details {
    flex-grow: 1;
    position: relative;
    padding: 10px;
}

.popular-card-details h3 {
    margin: 0; 
    color: black;
}

.popular-card-details p {
    margin-top: 5px;
    margin-bottom: 40px;
    color: black; 
}

.popular-card-details span {
    position: absolute;
    bottom: 10px;
}


/*ACTIVITIES*/


.activities {
    padding: 30px;  
}

.activities-cards-list { 
    display: flex;
    gap: 30px;
}
.activities-cards-list > div {
    flex: 1;
    border-radius: 15px;   
}

.activities-card img {
    width: 100%;
    border-radius: 15px 15px 0 0;
    object-fit: cover;
    flex-basis: 90%;  
    overflow: hidden;   
}

.activities-card h3 {
    padding-left: 10px;
    margin: 20px 0;
    justify-content: flex-end;
    color: black;  
}

.activities-card {
    display: flex;
    flex-direction: column;
    box-shadow: var(--box-shadow); 
    border-radius: 15px;
    height: 100%; 
}

.activities-card:hover {
    transform: scale(1.01);
}

.row {
    display: grid;
    gap: 30px; 
    height: 600px;
}

.activities-card.second {
    position: relative;
    height: 390px;   
}

.activities-card.third {
    position: relative;
    height: 180px;   
}

.activities-card.third img {
    height: 100px;       
}

.activities-card.sixth img {
    height: 240px;
}

.activities-card.sixth {
    position: relative;
    height: 320px;
}

.activities-card.fifth img {
    height: 180px;
}

.activities-card.fifth {
    position: relative;
    height: 250px;       
}


/* FOOTER */

footer {
    display: flex;
    justify-content: flex-start;
    gap: 150px;
    background-color: var(--lightgrey);  
    padding: 30px 30px;
}

footer h4 {
    text-transform: none;
}




/*------------------------------------------------------------




/*TABLETS VERSION*/

@media screen and (max-width:992px){

    .filter-icons {
        flex-wrap: wrap;
        gap: 20px;
    }
    
    #hebergements {
        flex-direction: column-reverse;
    }

    .popular-cards {
        flex-direction: row;
        height: auto;    
    }
    
    .activities-card.sixth img {
        height: 200px;
    }   
}


/*MOBILE VERSION*/

@media screen and (max-width:768px) {

    
    /*HEADER*/

    header {
        flex-wrap: wrap;   
    }

    #logo {
        margin-left: auto;
    }

    .navbar{
        display: flex;
        flex-basis: 100%;    
    }

    .navbar a {
        flex-basis: 50%;
        border-bottom: 2px solid var(--lightgrey);
        text-align: center;
    }

    .navbar a:hover{
        border-bottom: 2px solid var(--blue);
        border-top: none;
    }
    

    /*SEARCH-BAR*/

    .search-bar button.first {
        display: none;
    }

    .search-bar button.second{
        display: block;  
        border-radius: 15px; 
    }

    /*FILTER*/

    .filter-icons{
        flex-wrap: wrap;
        margin-bottom: 0;
        gap: 15px;
    }

    .filter-icons > h3, .filter-icons span{
        margin-right: 0;
    }

    /*HOTELS*/

    #hebergements {
        flex-wrap: wrap;
        flex-direction: column-reverse;
        
    }

    .popular-cards {
        
        flex-direction: column;
    }

    .popular-card img {
        width: 40%;
        height: 175px;
    }

    .marseille-hotels {
        flex-basis: 100%;
        background-color: white;
    }

    .marseille-cards .card {
        flex-basis: 100%;
    }

    .marseille-cards img{
        height: 180px;
    }


    /*ACTIVITIES*/

    .activities-cards-list{ 
        flex-direction: column;   
    }

   .activities-card img{
       min-height: 240px;     
   }

   .activities-card {
       max-height: 300px;
       overflow: hidden;
   }

   .activities-card.third {
        height: auto;
   }

   .activities-card.fifth {
        height: auto;
    }
       


   
   
   

    /*FOOTER*/

    footer{
        flex-wrap: wrap;
        gap: 20px;
    }

    footer div{
        flex-basis: 100%;
    }
}



